/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #ff8fab;
    --second-color:#ffb3c6;
}

.popup{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    color: darkred;
    visibility: hidden;
}
.popup h2{
    padding-top: 100px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
}
.popup h3{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin:0 1.4rem;
}
.popup p{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin:0 1.4rem;
}
.popup button{
    margin-top: 20px;
    padding: 7px 16px;
    border: 2px solid darkred;
    border-radius: 40px;
    color: darkred;
    font-weight: 500;
    width: 100px;
}
.open-popup{
    visibility: visible;
}
.popup button:hover{
    color: #fff;
    background: var(--second-color);
}


.popup1,.popup2,.popup3{
    width: 400px;
    background: var(--second-color);
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    color: darkred;
    visibility: hidden;
}
.popup1 h2,.popup2 h2,.popup3 h2{
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
}
.popup1 p,.popup2 p,.popup3 p{
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
}
.popup1 h3,.popup2 h3,.popup3 h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0.5rem 0 0;
}
.popup1 a,.popup2 a,.popup3 a{
    color: var(--main-color);
    font-weight: 500;
}
.popup1 button,.popup2 button,.popup3 button{
    margin-top: 20px;
    padding: 7px 16px;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    width: 110px;
}
.open-popup1, .open-popup2, .open-popup3{
    visibility: visible;
}
.popup1 button:hover, .popup2 button:hover, .popup3 button:hover{
    color: #fff;
    background: var(--second-color);
}


section{
    padding: 50px 10%;
}
*::selection{
    color: #fff;
    background: var(--main-color);
}
img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 40px;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ffecec;
    gap: 1rem;
}
.home-text{
    flex: 1 1 17rem;
}
.home-img{
    flex: 1 1 17rem;
}
/* .home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-11px, 0);
    }
    50%{
        transform: translate(0, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
} */
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}
.home-text h1{
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
}
.home-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
}
.home-text p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: capitalize;
    
}
.btn{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn:hover{
    color: #fff;
    background: var(--second-color);
}
.heading{
    text-align: center;
    text-transform: uppercase;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.heading h1{
    font-size: 2rem;
    color: var(--main-color);
}
.heading h2{
    margin-top: 1.2rem;
    color: darkred;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.heading p{
    font-size: 1.2rem;
    color: var(--second-color);
    text-transform: capitalize;
    
    font-weight: 500;
}
.shop p{
    font-size: 0.9rem;
    color: var(--second-color);
    text-transform: capitalize;
    margin-top: 15px;
    font-weight: 500;
}
/* .shop p{
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem;
    text-align: center;
    text-transform: capitalize;
}
.shop span{
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
    text-align: center;
    text-transform: capitalize;
} */
.shop-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.shop-container .box{
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.shop-container .box .box-img{
    width: 133px;
    height: 166px;
    margin-top: -100px;
}
.shop-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.stars{
    margin: 1rem 0 0.1rem;
}
.shop-container .box .stars .bx{
    color: #ffecec;
}
.shop-container .box h2{
    color: #ffecec;
    font-size: 1.2rem;
}
.shop-container .box span{
    color: #ffecec;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}
.box .btn{
    border: 2px solid #ffecec;
    color: #ffecec;
    background: var(--main-color);
}
.box .btn:hover{
    background: #ffecec;
    color: var(--second-color);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.delivery-img{
    flex: 1 1 21rem;
}
.delivery-text{
    flex: 1 1 21rem;
}
.delivery-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.delivery-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
    color: darkred;
    text-transform: capitalize;
}
.about{
    display: flex;
    flex-wrap: wrap;
    background: #ffecec;
    gap: 1.5rem;
}
.about-img{
    flex: 1 1 17rem;
}
.about-text{
    flex: 1 1 17rem;
}
.about-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.about-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
    color: darkred;
    text-transform: capitalize;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: capitalize;
    margin: 0.5rem 0 1.4rem;
}
.contact p{
    margin-bottom: 20px;
}
  
.social a{
    font-size: 27px;
    margin: 1rem;
}
.social a .bx{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}
.social a .bx:hover{
    background: var(--main-color);
}
.links{
    margin: 1rem 0 1rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
    text-align: center;
}
.links a:hover{
    color: var(--main-color);
}
.contact p{
    text-align: center;
}
@media (max-width: 1150px){
    header{
        padding: 18px 7%;
    }
    section{
        padding: 50px 7%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
}
@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}
@media (max-width: 768px){
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border-top: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }
    .home-text span{
        font-size: 0.9rem;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .home-text h2{
        font-size: 1.2rem;
    }
}
@media (max-width: 768px){
    .home-text{
        padding-top: inherit;
    }
    .shop-container .box{
        margin-top: 6rem;
    }
    .heading h1{
        font-size: 1.5rem;
    }
    .heading span{
        font-size: 0.9rem;
    }
    .about{
        flex-direction: column-reverse;
    }
}
@media (max-width: 364px){
    .links{
        display: flex;
        flex-direction: column;
    }
}


